*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;
}

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #212121;
}

.notes{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  
}

.note{
  background-color: #494949;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 30rem;
  color: white;
}

.note-create-form{
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.note-create-form input{
  padding-left: 5px;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
}

.note-create-form button{
  padding: 10px;
  font-size: 20px;  
  border-radius: 5px;
  border: none;
  outline: none;
  background: linear-gradient(to bottom, rgb(49, 211, 49),rgb(37, 161, 37));
}

.note .button-div{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.button-div button{
  padding: 5px;
  font-size: 15px;  
  border-radius: 5px;
  border: none;
  outline: none;
  background: linear-gradient(to bottom, rgb(231, 7, 7),rgb(129, 9, 5));

}

