@import "tailwindcss";


::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* LIGHT THEME (default) */
:root {
  --bg: #ffffff;
  --text: #000000;
  --card: #f3f4f6;
  --border: rgba(0,0,0,0.1);
}

/* DARK THEME */
.dark {
  --bg: #000000;
  --text: #ffffff;
  --card: #111214;
  --border: rgba(255,255,255,0.1);
}