*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  justify-content: center;
  align-items: end;
  display: flex;
  background-color: rgb(24, 23, 23);
  color: white;
}

button{
  background-color: #3b3434;
  padding: 20px 10px;
  border-radius: 20px;
  color: white;
  outline: none;
  border: none;
}

button:active{
  scale: 0.9;
}